<span class="anchor anchor1" id="vote"></span>
<div class="sticky-wrapper">
    <div id="navigation" class="stuck">
		<div id="nav">
            <ul>
                <li>
                    <a href="#vote">Vote</a>
                </li>
                <li>
                    <a href="#features">What is Giftr?</a>
                </li>
                <li>
                    <a href="#signup">Sign Up</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
            </ul>
        </div>
        <div id="navfa">
            <%= icon("fa fa-bars fa-2x", :id => "menu-button") %>
        </div>
    </div>
    <div id="menu-toggle">
        <div class="container-fluid">
            <div class="row">
                <a href="#vote">Vote</a>
                <a id="mini-menu-button"><span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="row">
                <a href="#features">What is Giftr?</a>
            </div>
            <div class="row">
                <a href="#signup">Sign Up</a>
            </div>
            <div class="row">
                <a href="#team">Team</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid vote">
    <div class="row">
        <div class="col-xs-12 jumbotron">
            <div>
                <h1>VOTE FOR GIFTR</h1>
                <p>Global Startup Battle</p>
                <a type="button" class="btn btn-primary" href="#" target="_blank">
                    <h2>VOTE  NOW</h2>
                    <h4>(coming soon)</h4>
                </a>
                <p>Because friends don't let friends give bad gifts.</p>
            </div>
        </div>
    </div>
    <div class="row social">
        <span class="anchor anchor2" id="signup"></span>
        <div class="col-md-6 socialmedia">
            <div>
                <strong>Share your vote for a chance to win a $50 VISA<sup>&reg;</sup> gift card</strong>
                <div class="row">
                    <div class="col-xs-4">
                        <a class="btn btn-social btn-twitter" href="https://twitter.com/home?status=%23Ivoted4Giftr%20%20%23vote2LaunchGiftr%20www.givegiftr.co%20%40givegiftr" onclick="window.open(this.href,'','scrollbars=no,resizable=yes, location=no,menubar=no,status=no,toolbar=no,left='+(screen.availWidth/2-350)+ ', top='+(screen.availHeight/2-350)+',width=700,height=253');return false;">
                            <span class="fa fa-twitter"></span> Twitter
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.givegiftr" onclick="window.open(this.href,'','scrollbars=no,resizable=yes, location=no,menubar=no,status=no,toolbar=no,left='+(screen.availWidth/2-350)+ ', top='+(screen.availHeight/2-350)+',width=700,height=263');return false;">
                            <span class="fa fa-facebook"></span> Facebook
                        </a></div>
                        
                    <div class="col-xs-4">
                        <a class="btn btn-social btn-github" href="mailto:?&subject=Check out Giftr&body=Hey!%0A%0AI%20just%20voted%20for%20Giftr%20in%20Global%20Startup%20Competition%202015.%20It's%20an%20app%20that%20uses%20the%20power%20of%20your%20social%20network%20to%20help%20you%20find%20and%20choose%20unique%20%26%20memorable%20gifts.%20%0A%0ACheck%20it%20out%20and%20vote%20for%20Giftr%20here%3A%20www.givegiftr.co" target="_blank">
                            <span class="fa fa-envelope"></span> Email
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'users/form' %>
    </div>
</div>
<span class="anchor" id="features"></span>
<div class="container-fluid featuresTop">
    <div class="lgContainer">
    <div class="row">
        <div class="col-xs-12">
            <div>
            <h1>What is Giftr?</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="ghost"><!--
             --><div class="post-ghost">
                <h2 class="bodyh2">Use the power of your social network to help you find and choose unique &amp; memorable gifts for your family and friends. </h2>
                <div>
                    <%= image_tag("giftrlogo.png", :class => "img-responsive", :id => "GiftrLogo") %>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <div>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jz_OL532avg" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid featuresMid">
    <div class="row">
        <h2 class="bodyh2 hidden-sm">Giftr is the only product that combines:</h2>
        <div class="col-sm-5">
            <div class="phonewrapper">
                <%= image_tag("iphone0.png", :class => "img-responsive center-block") %>
            </div>
        </div>
        <div class="col-sm-7">
            <h2 class="bodyh2 hidden-xs">Giftr is the only product that combines:</h2>
            <div class="row">
                <div class="imagerow">
                <%= image_tag("planning.png", :id => "planning") %>
                <div class="ghost"><!--
                 --><h2 class="post-ghostB">Planning</h2>
                </div>
                </div>
                <div class="textrow">
                <p>Use the Giftr Planner to remember your best gift ideas.</p>
                </div>
            </div>
            <div class="row">
                <div class="imagerow">
                <%= image_tag("social.png", :id => "social") %>
                <div class="ghost"><!--
                 --><h2 class="post-ghostB">Social</h2>
                </div>
                </div>
                <div class="textrow">
                <p>Create circles to collaborate with your family and friends on gift ideas for the person you all share in common.</p>
                </div>
            </div>
            <div class="row">
                <div class="imagerow">
                <%= image_tag("money.png", :id => "saving") %>
                <div class="ghost"><!--
                 --><h2 class="post-ghostB">Saving</h2>
                </div>
                </div>
                <div class="textrow">
                <p>We'll work with retailers to offer you the best deals on your gifts!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="ticker">-->
<!--
    <div class="marquee" id="mycrawler"><span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#Giftr</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#BuiltIn<span style="color: #d0d0d0; font-size: 150%;">Chicago</span></span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#GiftingIsPainful</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#<span style="color: #000099; font-size: 150%;">Women</span>InTech</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#<span style="color: #d0d0d0; font-size: 150%;">Chicago</span>Startups</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#StartupBattle</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#SocialGifting</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#<span style="color: #d0d0d0; font-size: 150%;">Chicago</span>Tech</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#<span style="color: #000099; font-size: 150%;">Blacks</span>InTech</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#GSB2015</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#SW<span style="color: #d0d0d0; font-size: 150%;">Chicago</span></span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#<span style="color: #000099; font-size: 150%;">Diversity</span>InTech</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#GiftingIsHard</span>  <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#SW<span style="color: #d0d0d0; font-size: 150%;">Chi</span></span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#GiveGiftr</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#<span style="color: #d0d0d0; font-size: 150%;">Chi</span>Founders</span> <span style="background-color: rgba(255,255,255,.25); padding: 8px; border-radius: 4px; margin: 0 5px;">#<span style="color: #000099; font-size: 150%;">Female</span>Founders</span>
    </div>
-->
<div id="myCarousel" class="featuresBot carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner jumbotron" role="listbox">
        <div class="item active">
            <div class="container-fluid">
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("planning2.png", :id => "planning2") %>
                        <div class="ghost"><!--
                        --><h2 class="carousel-caption post-ghostB">Planning</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-push-7 ghost"><!--
                     --><div class="phonewrapper post-ghost">
                        <%= image_tag("iphone1.png", :class => "img-responsive")%>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-pull-5 ghost"><!--
                     --><div class="carousel-caption post-ghost">
                            <h1>Planning</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("social2.png", :id => "social2") %>
                        <div class="ghost"><!--
                        --><h2 class="carousel-caption post-ghostB">Social</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-push-7 ghost"><!--
                    --><div class="phonewrapper post-ghost"><%= image_tag("iphone2.png", :class => "img-responsive")%>
                    </div>
                    </div>
                    <div class="col-md-7 col-md-pull-5 ghost"><!--
                     --><div class="carousel-caption post-ghost">
                        <div class="details">
                            <h2>No more duplicate gifts, and no more giving gifts that recipients won’t like!</h2>
                            <div class="row">
                                <div class="col-xs-1 box darkblue">
                                    <%=icon('fa fa-check fa-3x')%>
                                </div>
                                <div class="col-xs-11">
                                    <p>Create circles around the gift recipient and include family and friends</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 box blue">
                                    <%=icon('fa fa-check fa-3x')%>
                                </div>
                                <div class="col-xs-11">
                                    <p>Share gift ideas </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 box darkblue">
                                    <%=icon('fa fa-check fa-3x')%>
                                </div>
                                <div class="col-xs-11">
                                    <p>Claim any gift you want to give</p>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("money2.png", :id => "saving2") %>
                        <div class="ghost"><!--
                        --><h2 class="carousel-caption post-ghostB">Saving</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-5 col-md-push-7 ghost"><!--
                 --><div class="phonewrapper post-ghost">
                    <%= image_tag("iphone3.png", :class => "img-responsive")%>
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 ghost">
                    <div class="carousel-caption post-ghost">
                    <h1>Saving</h1>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<span class="anchor" id="team"></span>
<div class="container-fluid team">
    <div class="lgContainer">
    <h2 class="bodyh2">Our diverse team is so cool.</h2>
    <div class="col-xs-6 col-sm-4">
        <div class="circle" id="Dalal"></div>
        <h3 class="name">Dalal</h3>
        <p class="role">Tech &amp; Biz</p>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="circle" id="Andrew"></div>
        <h3 class="name">Andrew</h3>
        <p class="role">Business</p>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="circle" id="Tatyana"></div>
        <h3 class="name">Tatyana</h3>
        <p class="role">Tech &amp; Biz</p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="circle" id="Rodica"></div>
        <h3 class="name">Rodica</h3>
        <p class="role">Technical</p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="circle" id="Cheryl"></div>
        <h3 class="name">Cheryl</h3>
        <p class="role">Business</p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="circle" id="Amar"></div>
        <h3 class="name">Amar</h3>
        <p class="role">Technical</p>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="circle" id="Mark"></div>
        <h3 class="name">Mark</h3>
        <p class="role">Technical</p>
    </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer fw300">
        <div class="container-fluid lgContainer center-block">
            <p>
                <a href="https://twitter.com/givegiftr" target="_blank" class="btn btn-social-icon btn-twitter">
                    <%=icon('twitter')%>
                </a>
                <a href="https://www.facebook.com/givegiftr/" target="_blank" class="btn btn-social-icon btn-facebook">
                    <%=icon('facebook')%>
                </a>
                <a href="https://www.youtube.com/channel/UChSdlj2qizwwjCwdyisja4w
    " target="_blank" class="btn btn-social-icon btn-pinterest">
                    <%=icon('youtube')%>
                </a>
                <a href="https://plus.google.com/114129075785989889291/posts" target="_blank" class="btn btn-social-icon btn-google-plus">
                    <%=icon('google-plus')%>
                </a>
                <a href="mailto:givegiftr@gmail.com" class="btn btn-social-icon btn-vimeo">
                    <%=icon('fa fa-envelope')%>
                </a>
            </p>
        </div>
        <p>Giftr was built at Chicago Startup Weekend as part of the 2015 Global Startup Battle</p>
        &nbsp;
        &nbsp;
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"><%= link_to image_tag("sw-logo-white.png", :class => "img-responsive"), "http://www.up.co/communities/usa/chicago", :target => "_blank"%></div>
                <div class="col-sm-6">
                    <div class="imgwrapper">
                        <%= link_to image_tag("gsb2015.png", :class => "img-responsive center-block"), "http://www.globalstartupbattle.co/", :target => "_blank"%>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
