<span class="anchor anchor1" id="home"></span>
<div class="sticky-wrapper">
    <div id="navigation" class="stuck">
		<div id="nav">
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#features">What is Giftr?</a>
                </li>
                <li>
                    <a href="#signup">Sign Up</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
            </ul>
        </div>
        <div id="navfa">
            <%= icon("fa fa-bars fa-2x", :id => "menu-button") %>
        </div>
    </div>
    <div id="menu-toggle">
        <div class="container-fluid">
            <div class="row">
                <a href="#home">Home</a>
                <div id="mini-menu-button">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="row">
                <a href="#features">What is Giftr?</a>
            </div>
            <div class="row">
                <a href="#signup">Sign Up</a>
            </div>
            <div class="row">
                <a href="#team">Team</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid vote">
    <div class="row">
        <div class="col-xs-12 jumbotron ghost"><!--
         --><div class="post-ghost">
                <div class="logocontainer">
                    <%= image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/giftrlogo.png", :class => "img-responsive", :id => "GiftrLogo") %>
                </div>
                <h2 class="bodyh2 h2white">Because friends don't let friends give bad gifts.</h2>
            </div>
        </div>
    </div>
    <div class="row social">
        <div class="lgContainer">
        <span class="anchor anchor2" id="signup"></span>
        <div class="col-md-6 socialmedia">
            <div>
                <strong>Share Giftr with your friends</strong>
                <div class="row">
                    <div class="col-xs-4">
                        <a class="btn btn-social btn-twitter" href="https://twitter.com/home?status=Rooting%20for%20%40givegiftr,%20a%20new%20startup,%20bc%20friends%20don't%20let%20friends%20give%20bad%20gifts.%20Sign%20up%20for%20early%20access%20here%3A%20www.givegiftr.co" onclick="window.open(this.href,'','scrollbars=no,resizable=yes, location=no,menubar=no,status=no,toolbar=no,left='+(screen.availWidth/2-350)+ ', top='+(screen.availHeight/2-350)+',width=700,height=253');return false;">
                            <span class="fa fa-twitter"></span> Twitter</a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.givegiftr.co" onclick="window.open(this.href,'','scrollbars=no,resizable=yes, location=no,menubar=no,status=no,toolbar=no,left='+(screen.availWidth/2-350)+ ', top='+(screen.availHeight/2-350)+',width=700,height=263');return false;">
                            <span class="fa fa-facebook"></span> Facebook
                        </a></div>   
                    <div class="col-xs-4">
                        <a onclick="ga('send', 'event', 'Share', 'sendEmail')" class="btn btn-social btn-github" href="mailto:?&subject=Check out Giftr&body=Hey!%0A%0AI%20just%20signed%20up%20for%20Giftr.%20%20It's%20an%20app%20that%20uses%20the%20power%20of%20your%20social%20network%20to%20help%20you%20find%20and%20choose%20unique%20%26%20memorable%20gifts.%20Sign%20up%20for%20Giftr%20early%20access%20at%20www.givegiftr.co.">
                            <span class="fa fa-envelope"></span> Email
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'users/form' %>
        </div>
    </div>
</div>
<span class="anchor" id="features"></span>
<div class="container-fluid featuresTop">
    <div class="lgContainer">
        <div class="row">
            <div class="col-xs-12">
                <div>
                <h1>What is Giftr?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="ghost"><!--
                 --><div class="post-ghost">
                    <h2 class="bodyh2">Use the power of your social network to help you find and choose unique &amp; memorable gifts for your family and friends. </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pI6jzwvCt9s?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid featuresMid">
    <div class="lgContainer">
        <div class="row">
            <h2 class="bodyh2 hidden-sm">Giftr is the only product that combines:</h2>
            <div class="col-sm-5">
                <div class="phonewrapper">
                    <%= image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/iphone0.png", :class => "img-responsive center-block") %>
                </div>
            </div>
            <div class="col-sm-7">
                <h2 class="bodyh2 hidden-xs">Giftr is the only product that combines:</h2>
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("planning.png", :id => "planning") %>
                        <div class="ghost"><!--
                         --><h2 class="post-ghostB">Planning</h2>
                        </div>
                    </div>
                    <div class="textrow">
                        <p>Use the Giftr Planner to remember your best gift ideas.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("social.png", :id => "social") %>
                        <div class="ghost"><!--
                         --><h2 class="post-ghostB">Social</h2>
                        </div>
                    </div>
                    <div class="textrow">
                        <p>Create circles to collaborate with your family and friends on gift ideas for the person you all share in common.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("saving.png", :id => "saving") %>
                        <div class="ghost"><!--
                         --><h2 class="post-ghostB">Saving</h2>
                        </div>
                    </div>
                    <div class="textrow">
                        <p>We'll work with retailers to offer you the best deals on your gifts!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myCarousel" class="featuresBot carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner jumbotron" role="listbox">
        <div class="item active">
            <div class="container-fluid lgContainer">
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/planning2.png", :id => "planning2") %>
                        <div class="ghost"><!--
                        --><h2 class="carousel-caption post-ghostB">Planning</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-push-7 ghost"><!--
                     --><div class="phonewrapper post-ghost">
                        <%= image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/iphone1.png", :class => "img-responsive")%>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-pull-5 ghost"><!--
                     --><div class="carousel-caption post-ghost">
                            <div class="details hidden-sm hidden-xs">
                                <h1>Never forget another occasion.</h1>
                                    <h2 class="brown">Giftr reminds you when to plan ahead.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid lgContainer">
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("social2.png", :id => "social2") %>
                        <div class="ghost"><!--
                        --><h2 class="carousel-caption post-ghostB">Social</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-push-7 ghost"><!--
                    --><div class="phonewrapper post-ghost"><%= image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/iphone2.png", :class => "img-responsive")%>
                    </div>
                    </div>
                    <div class="col-md-7 col-md-pull-5 ghost"><!--
                     --><div class="carousel-caption post-ghost">
                            <div class="details hidden-sm hidden-xs">
                                <h1>No more giving bad gifts!</h1>
                                <div class="row">
                                    <div class="col-xs-1 box darkblue">
                                        <%=icon('fa fa-check fa-2x')%>
                                    </div>
                                    <div class="col-xs-11">
                                        <p class="dark">Create circles around the gift recipient &amp; include family and friends</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 box blue">
                                        <%=icon('fa fa-check fa-2x')%>
                                    </div>
                                    <div class="col-xs-11">
                                        <p class="dark">Share &amp; collaborate on gift ideas </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 box darkblue">
                                        <%=icon('fa fa-check fa-2x')%>
                                    </div>
                                    <div class="col-xs-11">
                                        <p class="dark">Claim ideas to avoid duplicate gifts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid lgContainer">
                <div class="row">
                    <div class="imagerow">
                        <%= image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/money2.png", :id => "saving2") %>
                        <div class="ghost"><!--
                        --><h2 class="carousel-caption post-ghostB">Saving</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-push-7 ghost"><!--
                     --><div class="phonewrapper post-ghost">
                        <%= image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/iphone3.png", :class => "img-responsive")%>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-pull-5 ghost"><!--
                     --><div class="carousel-caption post-ghost">
                            <div class="details hidden-sm hidden-xs">
                                <h1>Get special deals on popular gifts.</h1>
                                <h2 class="detailsgray">Use Sally, Giftr’s virtual concierge, to find deals on great gifts.</h2>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<span class="anchor" id="team"></span>
<div class="container-fluid team">
    <div class="lgContainer">
    <h2 class="bodyh2">Meet the Giftr co-founders.</h2>
    <div class="col-xs-6">
        <div class="circle" id="Dalal"></div>
        <h3 class="name">Dalal</h3>
        <p class="role">Full-Stack Developer</p>
        <a href="https://twitter.com/dalrayes" class="handle" target="_blank">@dalrayes</a>
    </div>
    <div class="col-xs-6">
        <div class="circle" id="Tatyana"></div>
        <h3 class="name">Tatyana</h3>
            <p class="role">Full-Stack Developer</p>
            <a href="https://twitter.com/tatyana_shestop" class="handle" target="_blank">@tatyana_shestop</a>
    </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer fw300">
        <div class="container-fluid lgContainer center-block">
            <p>
                <a href="https://twitter.com/givegiftr" target="_blank" class="btn btn-social-icon btn-twitter">
                    <%=icon('twitter')%>
                </a>
                <a href="https://www.facebook.com/givegiftr/" target="_blank" class="btn btn-social-icon btn-facebook">
                    <%=icon('facebook')%>
                </a>
                <a href="https://www.youtube.com/channel/UChSdlj2qizwwjCwdyisja4w
    " target="_blank" class="btn btn-social-icon btn-pinterest">
                    <%=icon('youtube')%>
                </a>
                <a href="https://plus.google.com/114129075785989889291/posts" target="_blank" class="btn btn-social-icon btn-google-plus">
                    <%=icon('google-plus')%>
                </a>
                <a href="mailto:givegiftr@gmail.com" class="btn btn-social-icon btn-vimeo">
                    <%=icon('fa fa-envelope')%>
                </a>
            </p>
        </div>
        <p>Giftr was built at Chicago Startup Weekend as part of the 2015 Global Startup Battle</p>
        &nbsp;
        &nbsp;
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"><%= link_to image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/sw-logo-white.png", :class => "img-responsive"), "http://www.up.co/communities/usa/chicago", :target => "_blank"%></div>
                <div class="col-sm-6">
                    <div class="imgwrapper">
                        <%= link_to image_tag("https://s3.amazonaws.com/giftrassets/LandingPage/gsb2015.png", :class => "img-responsive center-block"), "http://www.globalstartupbattle.co/", :target => "_blank"%>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>