<div class="landingpage">
        <div class="jumbotron no pad">
            <div class="container-fluid no-pad">
                <div class="logocontainer">
                <%= image_tag("giftrlogo.png", :id => "GiftrLogo") %>
                </div>
            </div>
            <div class="subtext">
                <p>BRING THE JOY BACK TO GIFTING</p>
            </div>
        </div>
    <div class="bottom">
        <%=icon("fa fa-5x fa-chevron-down") %>
    </div>
</div>
    <div class="container-fluid marketing bg-gray">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <h3 class="fw300">Use the power of your social network to help you find and choose unique &amp; memorable gifts for your family and friends. 
</h3>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid marketing Features">
        <div class="row">
            <div class="col-sm-4">
                <div>
                <div class="row">
                <div class="circle">
                    <%= image_tag("planning.png", :id => "planning") %>
                </div>
                </div>
                    <div class="color">
                    <h3>Planning</h3>
                    </div>
                <h4 class="fw300">Giftr reminds you in time to start planning your gifts.  Use the Giftr Planner to remember your best gift ideas.</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                <div class="row">
                <div class="circle">
                    <%= image_tag("social.png", :id => "social") %>
                </div>
                </div>
                    <div class="color">
                    <h3>Social</h3>
                    </div>
                <h4 class="fw300">Create circles to collaborate with your family and friends on gift ideas for the person you all share in common.</h4>
                    </div>
            </div>
            <div class="col-sm-4">
                <div>
                <div class="row">
                <div class="circle">
                    <%= image_tag("money.png", :id => "money") %>
                </div>
                </div>
                    <div class="color">
                        <h3>Saving</h3>
                </div>
                <h4 class="fw300">We'll work with retailers to offer you the best deals on your gifts so that you can be a savvy &amp; smart gifter!</h4>
                    </div>
            </div>
        </div>
    </div>
<div class="container-fluid snapshot">
    <div class="row">
        <div class="col-sm-6">
            <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                <div class="box darkblue">
                    <%=icon('fa fa-check-circle fa-4x')%>
                </div>
                <h3>Create circles around the gift recipient and include family and friends</h3>
                </div>
                <div class="row">
                <div class="box blue">
                    <%=icon('fa fa-check-circle fa-4x')%>
                </div>
                <h3>Share gift ideas </h3>
                </div>
                <div class="box darkblue">
                    <%=icon('fa fa-check-circle fa-4x')%>
                </div>
                <h3>Claim any gift you want to give</h3>
                <h2>No more duplicate gifts, and no more gifting gifts that recipients won’t like!</h2>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="phonewrapper">
                <%= image_tag("screenshot.png", :class => "img-responsive")%>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mailer">
    <div class="row jumbotron">
        <h2>Join the Giftr community and never give a bad gift again!  Sign up to be notified when Giftr is ready to launch.</h2>
        <%= form_tag("/users", method: "post") do %>
            <%= text_field_tag(:email, nil, placeholder: "Email Address", class: "form-control" ) %>
            <p>&nbsp;</p>
        <%= submit_tag("Sign me up!", class: "btn btn-info") %>
        <% end %>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer fw300">
        <p>Giftr</p>
        <p>Created during Chicago Startup Weekend for the 2015 Global Startup Battle</p>
        &nbsp;
        &nbsp;
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"><%= link_to image_tag("sw-logo-white.png", :class => "img-responsive center-block"), "http://www.up.co/communities/usa/chicago", :target => "_blank"%></div>
                <div class="col-sm-6"><%= link_to image_tag("gsb2015.png", :class => "img-responsive center-block"), "http://www.globalstartupbattle.co/", :target => "_blank"%></div>
            </div>
        </div>
        
    </div>
</div>
