<div class="landingpage">
        <div class="jumbotron no pad">
            <div class="container-fluid no-pad">
                <div class="logocontainer">
                <%= image_tag("giftrlogo.png", :id => "GiftrLogo") %>
                </div>
            </div>
            <div class="subtext">
                <p>GREAT GIFTS START HERE</p>
            </div>
        </div>
    <div class="bottom">
        <%=icon("fa fa-5x fa-chevron-down") %>
    </div>
</div>
    <div class="container-fluid marketing">
        <div class="row">
            <div class="col-xs-12">
                <p class="fw300">
                    <h3>Marketing Copy Here</h3>
                </p>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="transition"></div>
</div>
    <div class="container-fluid marketing Features">
        <div class="row">
            <div class="col-sm-4">
                <div class="circle">
                    <%= image_tag("planning.png") %>
                </div>
                    <div class="color">
                    <h3>Planning</h3>
                    </div>
                <h4 class="fw300">Planning text here.</54>
            </div>
            <div class="col-sm-4">
                <p class="fw300">
                    <h3>Social</h3>
                </p>
            </div>
            <div class="col-sm-4">
                <p class="fw300">
                    <h3>Saving</h3>
                </p>
            </div>
        </div>
    </div>
<div class="container-fluid mailer">
    <div class="row jumbotron">
        <p>Signup text here.</p>
        <%= form_tag("/users", method: "post") do %>
            <%= text_field_tag(:email) %><br>
            <%= submit_tag("Submit", class: "btn btn-info") %>
        <% end %>

    </div>
</div>
<div class="container-fluid">
    <div class="row footer fw300">
        <p>Footer here</p>
    </div>
</div>
<% if false %>
<%= render 'layouts/footer' %>
<% end %>
