<div class="landingpage">
        <div class="jumbotron no pad">
            <div class="container-fluid no-pad">
                <div class="logocontainer">
                <%= image_tag("giftrlogo.png", :id => "GiftrLogo") %>
                </div>
            </div>
            <div class="subtext">
                <p>GREAT GIFTS START HERE</p>
            </div>
        </div>
    <div class="bottom">
        <%=icon("fa fa-5x fa-chevron-down") %>
    </div>
</div>
    <div class="container-fluid marketing bg-gray">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <h3 class="fw300">Use the power of your social network to help you find and choose unique &amp; memorable gifts for your family and friends. 
</h3>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid marketing Features">
        <div class="row">
            <div class="col-sm-4">
                <div>
                <div class="row">
                <div class="circle">
                    <%= image_tag("planning.png", :id => "planning") %>
                </div>
                </div>
                    <div class="color">
                    <h3>Planning</h3>
                    </div>
                <h4 class="fw300">Giftr reminds you in time to start planning your gifts.  Use the Giftr Planner to create and manage Gift Lists so you remember the best gift ideas.</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                <div class="row">
                <div class="circle">
                    <%= image_tag("social.png", :id => "social") %>
                </div>
                </div>
                    <div class="color">
                    <h3>Social</h3>
                    </div>
                <h4 class="fw300">Create circles to collaborate with your family and friends on gift ideas for the person you all share in common.</h4>
                    </div>
            </div>
            <div class="col-sm-4">
                <div>
                <div class="row">
                <div class="circle">
                    <%= image_tag("money.png", :id => "money") %>
                </div>
                </div>
                    <div class="color">
                        <h3>Saving</h3>
                </div>
                <h4 class="fw300">We'll work with retailers to offer you the best deals on your gifts so that you can be both a savvy and a smart gifter!</h4>
                    </div>
            </div>
        </div>
    </div>
<div class="container-fluid snapshot">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="phonewrapper">
                <%= image_tag("iphone.png", :class => "img-responsive")%>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer fw300">
        <p>Giftr - Created through Chicago Startup Weekend.</p>
    </div>
</div>
